* {
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #F5F5F5;
  margin: auto;
  padding-bottom: 4em;
}

h1 {
  padding-top: 30px;
  font-family: 'Economica', serif, sans-serif;
}

header ul {
  list-style: none;
  margin: auto;
  width: 90%;
  padding: 10px;
}

header ul li {
  font-family: 'Cinzel', serif, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  margin: .5em auto;
  padding: .5em 0;
}

header p {
  font-family: 'Economica', serif, sans-serif;
  font-weight: lighter;
  margin: 1em auto;
  font-size: 27px;
  width: 75%;
}

.profile-image {
  margin-top: 2em;
  width: 68%;
}

.content-images {
  width: 100%;
}

h2 {
  font-family: 'Cinzel', serif, sans-serif;
  padding-top: 2rem;
}

.primary-content p {
  font-family: 'Economica', serif, sans-serif;
  font-size: 1.5em;
}

.primary-content {
  margin: 4rem 0;
  text-align: center;
}

footer p {
  font-family: 'Economica', serif, sans-serif;
  font-size: 1em;
}

footer {
  padding-top: 4rem;
  background-color: #F5F5F5;
  text-align: center;
}
