* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

header {
  text-align: center;
  background-color: #F5F5F5;
  margin: 0 auto;
  padding-bottom: 4em;
}

h1 {
  margin-top: 0;
  padding-top: 30px;
  font-family: 'Economica', serif, sans-serif;
}

header ul {
  list-style: none;
  margin: auto;
  width: 90%;
  padding: 10px;
}

header ul li {
  font-family: 'Cinzel', serif, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  margin: .5em auto;
  padding: .5em 0;
}

header p {
  font-family: 'Economica', serif, sans-serif;
  font-weight: lighter;
  margin: 1em auto;
  font-size: 27px;
  width: 75%;
}

.profile-image {
  margin-top: 2em;
  width: 68%;
  border-radius: 10%;
}

.content-images {
  width: 90%;
  padding-top: 2em;
}

h2 {
  font-family: 'Cinzel', serif, sans-serif;
  padding-top: 2rem;
}

.primary-content p {
  font-family: 'Economica', serif, sans-serif;
  font-size: 1.5em;
  width: 90%;
  margin: auto;
}

.primary-content {
  background: linear-gradient(30deg, lightgrey, transparent 30%),url('../responsive_layout_v3/images/tech-body.jpg') no-repeat top center ;
 background-size: cover;
 overflow: hidden;
  text-align: center;
}

.skills {
  text-align: center;
  background-color: lightslategrey;
  padding-bottom: 1rem;
  margin: auto;
}

.skills ul {
  padding: 0;
}

.skills li {
  font-family: 'Economica', serif, sans-serif;
  font-size: 1.5em;
  list-style: none;
  padding-top: 0.5rem;
  margin: auto;
}

footer p {
  font-family: 'Economica', serif, sans-serif;
  font-weight: lighter;
  padding-bottom: 1rem;
  margin: 1rem auto; 0;
  width: 90%;
  font-size: 1.5rem;
}

footer ul {
  margin: auto;
  padding: 0;
}

footer li {
  font-family: 'Economica', serif, sans-serif;
  list-style: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: auto;
}

footer {
  padding-top: 4rem;
  background-color: #F5F5F5;
  text-align: center;
}

.contact-info {
  font-size: 1.5rem;
}

.cell-footer {
  padding-top: 1em;
  border-top: 1px solid darkgrey;
  font-size: 1rem;
  margin: 1em auto 0;
}

.cell-footer li:first-child {
  float: left;
  padding-left: 1em;
}

.cell-footer li:last-child {
  float: right;
  padding-right:  1em;
}

.footer-nav {
  display: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-shadow: 2px 2px darkgrey;
}

a:visited {
  color: black;
}

a:focus {
  color: navy;
}
/*--------------------------------
 Media Queries for tablet layout
----------------------------------*/

@media (min-width: 768px) {

  body {
    margin: auto;
  }

  header ul li {
    display: inline-block;
    background: #F5F5F5;
    padding-right: 40px;
    padding-bottom: 60px;
  }

  .profile-image {
    float: right;
    width: 40%;
    padding-left: 10px;
    margin-right: 20px;
  }

  header p {
    float: left;
    width: 50%;
    padding-left: 10px;
  }

  .col-1 {
    float: left;
    width: 50%;
  }

  .col-2{
    float: left;
    width: 50%;
  }

  .primary-content p {
    width: 80%;
    margin: auto;
  }

  .primary-content h2 {
    padding-top: 0;
  }

  .content-images {
    padding-top: 1.5rem;
  }

  .contact-info {
    padding-bottom: 3rem;
  }

  footer p {
    width: 80%;
    padding-bottom: 2em;
  }

  .cell-footer {
    display: none;
  }

  .footer-nav {
    width: 100%;
    border-top: 1px solid darkgrey;
    margin: auto;
    display: inline-block;
  }

  .footer-nav li {
    float: right;
    padding: 50px 10px 50px 0;
    font-size: 1.2rem;
  }

  .footer-nav li:first-child {
    float: left;
    padding-left: 2em;
  }

  .footer-nav li:nth-child(2) {
    padding-right: 2em;
    padding-left: 10px;
  }

}

@media (min-width: 1024px) {
  body {
    max-width: 1250px;
  }

  header p {
    padding-left: 40px
  }

  .wrapper {
    margin: auto;
  }

  h1 {
    text-align: left;
    padding-left: 40px;
    padding-top: 18px;
  }

  .main-nav {
    text-align: right;
  }

  .main-nav li:last-child {
    padding-right: 0;
  }

  .profile-image {
    padding-right: 20px;
  }

  h1,
  .main-nav {
    float: left;
    width: 50%;
  }

  .row-1 {
    float: left;
    width: 33.33%;
    padding-bottom: 0;
  }

  .row-2 {
    float: left;
    width: 33.33%;
  }

  .content-images {
    padding-top: 18px;
  }

  footer p {
    width: 60%;
  }

  footer h2 {
    margin-bottom: 0;
  }
}



.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
