* {
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #F5F5F5;
  margin: auto;
  padding-bottom: 4em;
}

h1 {
  padding-top: 30px;
  font-family: 'Economica', serif, sans-serif;
}

header ul {
  list-style: none;
  margin: auto;
  width: 90%;
  padding: 10px;
}

header ul li {
  font-family: 'Cinzel', serif, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  margin: .5em auto;
  padding: .5em 0;
}

header p {
  font-family: 'Economica', serif, sans-serif;
  font-weight: lighter;
  margin: 1em auto;
  font-size: 27px;
  width: 75%;
}

.profile-image {
  margin-top: 2em;
  width: 68%;
  border-radius: 20%;
}

.content-images {
  width: 100%;
}

h2 {
  font-family: 'Cinzel', serif, sans-serif;
  padding-top: 2rem;
}

.primary-content p {
  font-family: 'Economica', serif, sans-serif;
  font-size: 1.5em;
}

.primary-content {
  margin: 4rem 0;
  text-align: center;
}

footer p {
  font-family: 'Economica', serif, sans-serif;
  font-weight: lighter;
  padding-bottom: 1rem;
}

footer ul {
  margin: auto;
  padding: 0;
}

footer li {
  font-family: 'Economica', serif, sans-serif;
  font-size: 1em;
  list-style: none;
  padding-bottom: 1rem;
  margin: auto;
  font-weight: lighter;
}

footer {
  padding-top: 4rem;
  background-color: #F5F5F5;
  text-align: center;
}

/*--------------------------------
 Media Queries for tablet layout
----------------------------------*/

@media (min-width: 768px) {
  header ul li {
    display: inline-block;
    background: #F5F5F5;
    padding-right: 40px;
    padding-bottom: 60px;
  }

  .profile-image {
    float: right;
    width: 40%;
    padding-left: 10px;
  }

  header p {
    float: left;
    width: 60%;
  }

  .profile-image,
  header p {
    margin: auto;
  }

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
